<form action="" class="form-group">
  <div class="form-icon"><img/>Horário</div>
  <h3>Qual horário você quer treinar?</h3>
  <div>
    <input type="radio" name="Morning" value="morning">
    <label for="morning">Manhã</label>
    <span>06:00 ás 12:00</span>
  </div>
  <div>
    <input type="radio" name="Afternoon" value="Afeternoon">
    <label for="afternoon">Tarde</label>
    <span>12:01 ás 18:00</span>
  </div>
  <div>
    <input type="radio" name="Nigth" value="Night">
    <label for="nigth">Noite</label>
    <span>18:01 ás 23:00</span>
  </div>
  <div>
    <input type="checkbox" name="show-closed"/>
    <label for="show-closed">Exibir unidades fechadas</label>
  </div>

</form>
